* {
	box-sizing: border-box;
}


html {
	height: 100vh;
	width: 100vw;
}


body {
	height: 100%;
	width: 100%;

	background-color: #FF0;

	margin: 0;
}


.main {
	display: flex;
	align-items: center;

	height: 100%;
	width: 100%;
}


.leftArrow, .rightArrow {
	width: 5%;
	height: 100%;

	display: flex;
	align-items: center;

	padding: 0 1%;
}


.cards {
	width: 90%;
	align-items: center;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}


.card {
	height: 50%;
	width: 50%;
	background-color: #FFF;

	box-shadow: 0px 5px 15px #888;
}