* {
	box-sizing: border-box;
}


html {
	height: 100vh;
	width: 100vw;
}


body {
	height: 100%;
	width: 100%;

	margin: 0;
}


.main {
	display: flex;
	align-items: center;

	height: 100%;
	width: 100%;
}


.leftArrow, .rightArrow {
	width: 5%;
	height: 100%;

	display: flex;
	align-items: center;

	padding: 0 1%;
}


.cards {
	width: 90%;
	align-items: center;
	height: 100%;
}